<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
</head>
<body>
    <h2>This is the dashboard</h2>



<h1>User Posts</h1>
<ul>
  <% holdposts.forEach(mypost =>{%>
    <li>
      <h2><%= mypost.title%></h2>
      <p><%= mypost.authorName%></p>
    </li>

 <% })%>

</ul>
    <a href="dashboard/update">update you profile</a><br><br>

    <a href="dashboard/posts">Make A post</a>

    <p>click here to go to home page <a href="/">Home</a></p>

    <a href="/logout">logout</a>
</body>
</html>