<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <h2>Login Here</h2>
  <form action="/loginuser" method="POST">
    <label for="loginusername">user name</label><br>
    <input type="text" name="username" id="loginusername"><br>
    <label for="loginpasword">Password</label><br>
    <input type="password" name="password" id="loginpasword"><br>
    <button type="submit">login</button>
    
  </form>
  <p>i dont have account yet? <a href="/signup">Click Here</a></p>
 
  <p>Home Page <a href="/"> Click Here</a></p>

</body>
</html>