<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>posts section</title>
</head>
<body>
    <h1>make a post here</h1>
    <form action="posts/createpost" method="POST">

        <label for="author">Author Name</label><br>
        <input type="text" name="author" id="title"><br>
        <label for="title">Post Title</label><br>
        <input type="text" name="title" id="title"><br>
        <label for="body">Post</label><br>
        <textarea name="body" id="" cols="70" rows="8"></textarea><br>
        <button type="submit"  >Comment</button>
    </form>
</body>
</html>